{% load i18n %}
<html>
    <head>
        <title>{% trans "Application Approved" %}</title>
    </head>
    <body>
        <h1>{% trans "Your Wells Fargo application was approved." %}</h1>
        <p>
            {% blocktrans with account_number=account_inquiry.account_number %}
                Your account number is {{ account_number }}.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans with credit_limit=account_inquiry.credit_limit %}
                Your credit limit is {{ credit_limit }}.
            {% endblocktrans %}
        </p>
    </body>
</html>
