{% load i18n %}
<html>
    <head>
        <title>{% trans "Application Not Approved" %}</title>
    </head>
    <body>
        <h1>{% trans "Your Wells Fargo application was not approved." %}</h1>
    </body>
</html>
