{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load currency_filters %}

{% block title %}
    {% trans "Delete plan?" %} | {% trans "Wells Fargo" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'wfrs-plan-list' %}">{% trans "Wells Fargo" %}</a>
        </li>
        <li>
            {{ plan.plan_number }}
        </li>
        <li class="active">{% trans "Delete plan?" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete plan?" %}
{% endblock %}

{% block dashboard_content %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans "Plan Number" %}</th>
                <td>{{ plan.plan_number }}</td>
            </tr>
            <tr>
                <th>{% trans "Description" %}</th>
                <td>{{ plan.description }}</td>
            </tr>
            <tr>
                <th>{% trans "APR" %}</th>
                <td>{{ plan.apr }}%</td>
            </tr>
            <tr>
                <th>{% trans "Term Length (months)" %}</th>
                <td>{{ plan.term_months }}</td>
            </tr>
        </tbody>
    </table>
    <form action="." method="post" class="well">
        <p>{% trans "Are you sure you want to delete this plan?" %}</p>
        {% csrf_token %}
        <div class="form-actions">
            <button class="btn btn-danger" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button> {% trans "or" %}
            <a href="{% url 'wfrs-plan-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock dashboard_content %}
