{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load currency_filters %}


{% block title %}
    {% trans "Plans" %} | {% trans "Wells Fargo" %} | {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Plans" %}</li>
    </ul>
{% endblock %}


{% block header %}
    <div class="page-header">
        <a href="{% url 'wfrs-plan-create' %}" class="btn btn-primary btn-lg pull-right">
            <i class="icon-plus"></i> {% trans "Create new financing plan" %}
        </a>
        <h1>{% trans "Financing Plans" %}</h1>
    </div>
{% endblock header %}


{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <caption><i class="icon-reorder icon-large"></i> {% trans "Financing Plans" %}</caption>
        {% if plans %}
            <thead>
                <tr>
                    <th>{% trans "Plan Number" %}</th>
                    <th>{% trans "APR" %}</th>
                    <th>{% trans "Term Length (months)" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Product Price Threshold" %}</th>
                    <th>{% trans "Advertising Enabled" %}</th>
                    <th>{% trans "Is Default" %}</th>
                    <th>{% trans "Allow New Credit Applications" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for plan in plans %}
                    <tr>
                        <th>
                            <a href="{% url 'wfrs-plan-edit' pk=plan.pk %}">{{ plan.plan_number }}</a>
                        </th>
                        <td>{{ plan.apr }}%</td>
                        <td>{{ plan.term_months }}</td>
                        <td>{{ plan.description }}<sup>{{ plan.fine_print_superscript }}</sup></td>
                        <td>{{ plan.product_price_threshold | currency }}</td>
                        <td>{{ plan.advertising_enabled }}</td>
                        <td>{{ plan.is_default_plan }}</td>
                        <td>{{ plan.allow_credit_application }}</td>
                        <td>
                            <a href="{% url 'wfrs-plan-edit' pk=plan.pk %}" class="btn btn-primary">{% trans "Edit" %}</a>
                            <a href="{% url 'wfrs-plan-delete' pk=plan.pk %}" class="btn btn-danger">{% trans "Delete" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tr><td>{% trans "No plans found." %}</td></tr>
        {% endif %}
    </table>
{% endblock %}
