{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load currency_filters %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}


{% block title %}
    {% trans "Pre-Qualification Inquiries" %} | {% trans "Wells Fargo" %} | {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Pre-Qualification Inquiries" %}</li>
    </ul>
{% endblock %}


{% block header %}
    <div class="page-header clearfix">
        <div class="pull-left">
            <h1>{% trans "Pre-Qualification Inquiries" %}</h1>
        </div>
        <div class="pull-right">
            <a href="{% url 'wfrs-prequal-list' %}?{{ download_querystring | safe }}" class="btn btn-primary btn-lg">
                <i class="icon-download-alt"></i> {% trans "Export Results" %}
            </a>
        </div>
    </div>
{% endblock header %}


{% block dashboard_content %}
    <div class="table-header">
        <h3><i class="icon-search icon-large"></i> {% trans "Search" %}</h3>
    </div>

    <div class="well">
        <form action="." method="get" class="form-inline" id="search_form">
            <span class="form-group{% if form.search_text.errors %} has-error{% endif %}">
                {{ form.search_text.label_tag }}
                {% render_field form.search_text class+='form-control' %}
                {% for error in form.search_text.errors %}
                    <ul class="error-block">
                        <li>{{ error }}</li>
                    </ul>
                {% endfor %}
            </span>
            <button type="submit" name="search" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
            <a href="{% url 'wfrs-prequal-list' %}" class="btn btn-default">{% trans "Reset" %}</a>
            <a data-toggle="modal" data-target="#wells-pre-qual-search-modal" href="#">{% trans "Advanced Search" %}</a>
        </form>

        <div class="modal fade" data-show="true" id="wells-pre-qual-search-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3>{% trans "Advanced Search" %}</h3>
                    </div>
                    <form action="." method="get" class="form-horizontal">
                        <div class="modal-body">
                            <div class="container-fluid">
                                {% for field in form %}
                                    {% if 'search_text' not in field.id_for_label %}
                                        {% include "oscar/dashboard/partials/form_field.html" with field=field style='horizontal' %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</a>
                            <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Searching...' %}">{% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if search_filters %}
            <div class="search-filter-list">
                <label>Filters:</label>
                {% for filter in search_filters %}
                    <span class="label label-success">{{ filter }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if prequal_requests and prequal_requests.data|length > 0 %}
        {% render_table prequal_requests %}
    {% else %}
        <p>{% trans "No pre-qualification requests found." %}</p>
    {% endif %}
{% endblock %}
