{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load currency_filters %}
{% load wfrs_filters %}

{% block title %}
    {% trans "Pre-Qualification Inquiries" %} | {% trans "Wells Fargo" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'wfrs-prequal-list' %}">{% trans "Pre-Qualification Inquiries" %}</a>
        </li>
        <li class="active">{% trans "Pre-Qualification Inquiry Details" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Pre-Qualification Inquiry Details" %}
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="table-header">
                <h2>{% trans "Pre-Qualification Request Details" %}</h2>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>{% trans "UUID" %}</th>
                    <td>
                        <a href="{% url 'wfrs-prequal-detail' uuid=object.uuid %}">{{ object.uuid }}</a>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Merchant" %}</th>
                    <td>{{ object.merchant_name }} ({{ object.merchant_num }})</td>
                </tr>
                <tr>
                    <th>{% trans "Customer Initiated" %}</th>
                    <td>
                        {% if object.customer_initiated %}
                            {% trans "Yes (PREQUAL)" %}
                        {% else %}
                            {% trans "No (PRESCREEN)" %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Entry Point" %}</th>
                    <td>{{ object.entry_point_name }}</td>
                </tr>
                <tr>
                    <th>{% trans "Status" %}</th>
                    <td>{{ object.status_name }}</td>
                </tr>
                <tr>
                    <th>{% trans "IP Address" %}</th>
                    <td>{{ object.ip_address }}</td>
                </tr>
                <tr>
                    <th>{% trans "Created Date" %}</th>
                    <td>{{ object.created_datetime }}</td>
                </tr>
                <tr>
                    <th>{% trans "Modified Date" %}</th>
                    <td>{{ object.modified_datetime }}</td>
                </tr>
            </table>

            <div class="table-header">
                <h2>{% trans "Pre-Qualification Customer Details" %}</h2>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>{% trans "Email" %}</th>
                    <td>{{ object.email | default:'—' }}</td>
                </tr>
                <tr>
                    <th>{% trans "First Name" %}</th>
                    <td>{{ object.first_name }}</td>
                </tr>
                <tr>
                    <th>{% trans "Middle Initial" %}</th>
                    <td>{{ object.middle_initial | default:'—' }}</td>
                </tr>
                <tr>
                    <th>{% trans "Last Name" %}</th>
                    <td>{{ object.last_name }}</td>
                </tr>
                <tr>
                    <th>{% trans "Address Line 1" %}</th>
                    <td>{{ object.line1 }}</td>
                </tr>
                <tr>
                    <th>{% trans "Address Line 2" %}</th>
                    <td>{{ object.line1 | default:'—' }}</td>
                </tr>
                <tr>
                    <th>{% trans "City" %}</th>
                    <td>{{ object.city }}</td>
                </tr>
                <tr>
                    <th>{% trans "State" %}</th>
                    <td>{{ object.state }}</td>
                </tr>
                <tr>
                    <th>{% trans "Postal Code" %}</th>
                    <td>{{ object.postcode }}</td>
                </tr>
                <tr>
                    <th>{% trans "Phone" %}</th>
                    <td>{{ object.phone.as_international | default:'—' }}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <div class="table-header">
                <h2>{% trans "Pre-Qualification Response Details" %}</h2>
            </div>
            <table class="table table-bordered">
                {% if object.response %}
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <td>{{ object.response.status_name }} ({{ object.response.status }})</td>
                    </tr>
                    <tr>
                        <th>{% trans "Message" %}</th>
                        <td>{{ object.response.message }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Offer Indicator" %}</th>
                        <td>{{ object.response.offer_indicator }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Pre-Qualified Credit Limit" %}</th>
                        <td>{{ object.response.credit_limit | currency }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Unique Response ID" %}</th>
                        <td>{{ object.response.response_id }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Customer Response" %}</th>
                        <td>{{ object.response.customer_response_name | default:"—" }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Reported Date" %}</th>
                        <td>{{ object.response.reported_datetime | default:"—" }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Created Date" %}</th>
                        <td>{{ object.response.created_datetime }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Modified Date" %}</th>
                        <td>{{ object.response.modified_datetime }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">
                            <em>{% trans "Pre-qualified offer was not returned by Wells Fargo for this consumer." %}</em>
                        </td>
                    </tr>
                {% endif %}
            </table>

            <div class="table-header">
                <h2>{% trans "SDK Credit Application Results" %}</h2>
            </div>
            <table class="table table-bordered">
                {% if object.response and object.response.sdk_application_result %}
                    <tr>
                        <th>{% trans "Application ID" %}</th>
                        <td>{{ object.response.sdk_application_result.application_id }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "First Name" %}</th>
                        <td>{{ object.response.sdk_application_result.first_name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Last Name" %}</th>
                        <td>{{ object.response.sdk_application_result.last_name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Application Status" %}</th>
                        <td>{{ object.response.sdk_application_result.application_status }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Created Date" %}</th>
                        <td>{{ object.response.sdk_application_result.created_datetime }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Modified Date" %}</th>
                        <td>{{ object.response.sdk_application_result.modified_datetime }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">
                            <em>{% trans "This consumer did not complete the Wells Fargo Credit Application." %}</em>
                        </td>
                    </tr>
                {% endif %}
            </table>

            <div class="table-header">
                <h2>{% trans "Resulting Order Details" %}</h2>
            </div>
            <table class="table table-bordered">
                {% if object.resulting_order %}
                    <tr>
                        <th>{% trans "Order Number" %}</th>
                        <td>
                            <a href="{% url 'dashboard:order-detail' number=object.resulting_order.number %}">
                                {{ object.resulting_order.number }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Order Total" %}</th>
                        <td>
                            {{ object.resulting_order.total_excl_tax | currency }}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Time until Order Placement (Minutes)" %}</th>
                        <td>
                            {{ object.resulting_order.date_placed | timesinceminutes:object.created_datetime }}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Order Merchant Name" %}</th>
                        <td>
                            {{ object.response.order_merchant_name | default:'—' }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">
                            <em>{% trans "This consumer did not place an order." %}</em>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
